{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
	<link rel="stylesheet" type="text/css" href="{% static 'ed.css' %}">
	<title>Contact Page</title>
</head>
<body>
	<div class="container">
		<header class="hero">
			<a href="{% url 'edit-contact' contact.id %}">
				<i class='bx bx-arrow-back back-btn'></i>
		    </a>
		    <div class="hero-info">
		    	<h1 class="name">{{ contact.full_name | title}}</h1>
		    	<p class="relationship">{{ contact.relationship | title }}</p>
		    </div>
		</header>
		<section class="button-container">
			<p>Seguro quiere de borrar el contacto?</p>
			<form method="POST">
				{% csrf_token %}
				<div class="update-contact">
					<i class='bx bxs-trash-alt icon-gradient' ></i>
					<button class="button">Delete Contact</button>
				</div>
			</form>
		</section>
	</div>
</body>
</html>